/*classes to use on the Dimension Table*/

.dt-dimension-table tr:hover td {
  /*opacity: 0.5;*/
  /*filter: brightness(85%);*/
  background-color: rgba(0,0,0,0.3);
}

.dt-first-dimension-row {
  font-size: 120%;
}

.badge {
  border: 1px solid #000;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-info {
  background-color: #5bc0de;
}
